.table_type_books {
  .table__cell {
    &:nth-child(2) {
      width: 190px;
    }

    &:nth-child(3) {
      width: 118px;
    }

    &:nth-child(4) {
      width: 115px;
    }

    &:nth-child(5) {
      width: 112px;
    }

    &:nth-child(6),
    &:nth-child(7) {
      width: 70px;
    }
  }
}
