.button_theme_standard {
  display: inline-block;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
