.books-table__delete {
  width: 40px;
  height: 40px;
  background-image: url('./delete-icon.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    opacity: .5;
  }  
}
