@import '../../../../common/styles/colors.scss';
@import '../../../../common/styles/mixins.scss';

.table_theme_standard {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  .table__cell {
    padding: 12px 15px;
    border: 1px solid $gray;
  }

  .table__cell_type_heading {
    font-weight: 600;
  }

  .table__cell_hidden-content {
    .table__cell-content {
      @include visually-hidden();
    }
  }
}
