@import '../../../../common/styles/colors.scss';

.number-field_theme_standard {
  position: relative;

  .number-field__caption {
    padding: 0 2px;
    position: absolute;
    top: -9px;
    left: 0;
    font-size: 14px;
    background-color: $white;
  }

  .number-field__input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid $gray-pale;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;

    &:hover {
      border-color: $blue-pale;
    }

    &:focus,
    &:active {
      outline: none;
      border-color: $blue;
    }
  }
}
